@font-face {
    font-family: burbankbigcondensed;
    src: url("fonts/burbankbigcondensed_bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-family: 'burbankbigcondensed', serif;
  letter-spacing: 1.5px;
  font-size: 24px;
  padding: 0 32px;
  border-radius: 0;
  border: none;
}

.btn-neutral {
  color: #F9FAFB;
}

.btn-primary {
  background: #FEFF04;
  color: #21294C;
}


.btn-primary:hover {
  background: #FEFF04;
  color: #21294C;
}


.ur-header {
    background: #3584E5;
}

.ur-burguer {
    padding-left: 0;
    color: #F9FAFB;
}
