@font-face {
    font-family: burbankbigcondensed;
    src: url("fonts/burbankbigcondensed_bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-family: 'burbankbigcondensed', serif;
  letter-spacing: 1.5px;
  padding: 0 40px;
  border-radius: 0;
  border: none;
}

.btn-neutral {
  background: #1F2937;
  color: #F9FAFB;
}
.btn-neutral:hover {
  background: #1F2937;
}

.btn-primary {
  background: #FEFF04;
  color: #21294C;
}
.btn-primary:hover {
  background: #FEFF04;
  color: #21294C;
}

.ur-header-wrapper {
    background: #3584E5;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.ur-header {
    max-width: 1280px;
    margin: auto;
}

.ur-burguer {
    padding-left: 0;
    padding-right: 12px;
    color: #F9FAFB;
}

.ur-hero {
    background-image: url('back.png');
}
.ur-hero-inner {
    margin: auto;
    max-width: 1300px;
    width: 100%;
}
